<div id="__next">
  <div class="main font-body text-body">
    <app-header></app-header>
    <div class="hidden navbar-menu relative z-50 transition duration-300">
      <div class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25"></div>
      <nav
        class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto transition duration-300">
        <div class="flex items-center mb-8"><a class="mr-auto text-3xl font-semibold leading-none" href="index-4#"><img
              class="h-10" src="assets/imgs/logos/monst-logo.svg" alt="Monst" /></a><button class="navbar-close"><svg
              class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blue-500" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg></button></div>
        <div>
          <ul class="mobile-menu">
            <li class="mb-1 menu-item-has-children rounded-xl"><span class="menu-expand">+</span><a
                class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500 rounded-xl"
                href="index-4#">Home</a>
              <ul class="hidden">
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="index">Home 1</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="index-2">Home 2</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="index-3">Home 3</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="index-4">Home 4</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="index-5">Home 5</a></li>
              </ul>
            </li>
            <li class="mb-1 rounded-xl"><a
                class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500 rounded-xl"
                href="about">About Us</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="services">Services</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="portfolio">Portfolio</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="pricing">Pricing</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="team">Team</a></li>
            <li class="mb-1 menu-item-has-children rounded-xl"><span class="menu-expand">+</span><a
                class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="index-4#">Blog</a>
              <ul class="hidden">
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="blog">Category 1</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="blog-2">Category 2</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="blog-single">Single 1</a></li>
                <li><a class="block p-3 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                    href="blog-single-2">Single 2</a></li>
              </ul>
            </li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="faqs">Faqs</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="testimonials">Testimonial</a></li>
            <li class="mb-1"><a class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-500"
                href="contact">Contact Us</a></li>
          </ul>
          <div class="mt-4 pt-6 border-t border-blueGray-100"><a
              class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-400 hover:bg-blue-500 text-white rounded"
              href="signup">Sign Up</a><a
              class="block px-4 py-3 mb-2 text-xs text-center text-blue-500 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded"
              href="login">Log In</a></div>
        </div>
        <div class="mt-auto">
          <p class="my-4 text-xs text-blueGray-400"><span>Get in Touch</span><span
              class="text-blue-500 hover:text-blue-500 underline">contact@monst.com</span></p><a
            class="inline-block px-1" href="https://facebook.com/"><img src="assets/imgs/icons/facebook-blue.svg"
              alt="Monst" /></a><a class="inline-block px-1" href="https://twitter.com/"><img
              src="assets/imgs/icons/twitter-blue.svg" alt="Monst" /></a><a class="inline-block px-1"
            href="https://www.instagram.com/"><img src="assets/imgs/icons/instagram-blue.svg" alt="Monst" /></a>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div>